body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: auto;
    margin: 0 auto;
    background: #98ea99;
    padding: 20px 30px;
}

header h1 {
    color: #98ea99;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #ebf4ed;
}

/* Banner */
.banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

.banner h1 {font-size: 3.571em; line-height: 0;}
.banner h1 a:link, .banner h1 a:visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
}

.banner h1 a:hover, .banner h1 a:active {
	background: none;
	color: #C74350;
	text-shadow: none;
}

.banner h1 strong {font-size: 0.36em; font-weight: normal;}

/* Main Nav */
.banner nav {
	background: #000305;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: center;
	width: auto;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.banner nav ul {list-style: none; margin: 0 auto; width: auto;}
.banner nav li {float: left; display: inline; margin: 0;}

.banner nav a:link, .banner nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}
.banner nav a:hover, .banner nav a:active,
.banner nav .active a:link, .banner nav .active a:visited {
	background: #C74451;
	color: #fff;
	text-shadow: none !important;
}

.banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
